<div class="container">

    <div class="page-header">
        <h3>New User</h3>
    </div>

    <div class="container">

        <form method="post" action="/cms/user" enctype="multipart/form-data" role="form" class="item-details">

            <div class="form-group">
                <label for="title">Username</label>
                <input type="text" name="username" value="" placeholder="Enter username" class="form-control" id="title" required>
            </div>

            <div class="form-group">
                <label for="title">Password</label>
                <input type="password" name="password" value="" placeholder="Enter password" class="form-control" id="title" required>
            </div>

            <div class="toolbar-wrapper" style="position: relative; height: 95px;">
                <div class="toolbar toolbar-fixed" style="width: 100%; position: absolute; top: 0px;">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a href="/cms/news" class="btn btn-link btn-cancel">Cancel</a>
                </div>
            </div>

        </form>

    </div>

</div>

