.about.page {

    .sub-grid {
        margin: -5.5em auto 13.5em auto;
    }

    .masthead-4 { background-image: url(../img/pages/about/masthead.jpg); }
    .block-1 { background-image: url(../img/pages/about/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/about/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/about/block-3.jpg); }

    .block-3 {
        margin-top: 4.5em;
        margin-left: 0;
    }

    .block-text-1 {
        margin-top: 7.5em;
        margin-left: 17%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-2 {
        margin-top: 6.5em;
        margin-left: 17%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-3 {
        margin: 17.7em 0 9em 0;
        width: 80%;

        .h6 {
            line-height: 1.5;
            letter-spacing: 0.42em;
            text-transform: uppercase;
        }
        .h7 {
            margin-top: 1.6em;
            font-size: 1.8em;
            letter-spacing: 0.1em;
            text-transform: none;
        }
    }
}