.collections.page {

    .grid {
        margin: -5.5em 0 13.5em 0;
    }

    .masthead-4 { background-image: url(../img/pages/collections/masthead.jpg); }
    .block-1 { background-image: url(../img/pages/collections/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/collections/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/collections/block-3.jpg); }
    .block-4 { background-image: url(../img/pages/collections/block-4.jpg); }
    .block-5 { background-image: url(../img/pages/collections/block-5.jpg); }

    .block-2 {
        margin: 7.5em 0 0 33.33%;
    }

    .block-3 {
        margin: 7.5em 0 0 33.33%;
    }

    .block-4 {
        margin-top: 7.5em;
    }

    .block-5 {
        margin-top: 7.5em;
    }

    .block-text-1 {
        width: 66.66%;
        margin: 5.5em 0 2.6em 33.33%;

        p {
            margin-top: 1em;
            line-height: 2.6;
        }
    }

    .block-text-2 {
        width: 66.66%;
        margin: 10em 0 2.6em 0;

        p {
            margin-top: 1em;
            line-height: 2.6;
        }
    }

    .block-text-3 {
        width: 70%;
        margin: 5.5em 0 2.6em 0;

        p {
            margin-top: 1em;
            line-height: 2.6;
        }
    }

    .block-text-4 {
        width: 70%;
        margin: 5.5em 0 2.6em 0;

        p {
            margin-top: 1em;
            line-height: 2.6;
        }
    }

    .block-link-1 {
        margin-left: 33.33%;
    }

    .h8 {
        line-height: 2;
    }
}