.contact.page {

    .map {
        width: 100%;
        height: 375px;
        background-color: white;
    }

    .address {
        width: 70%;
        margin: 15em auto 5em auto;
        max-width: 900px;

        .title {
            font-family: $MrsEavesBold;
            font-size: 1.4em;
            text-transform: uppercase;
            letter-spacing: 0.095em;
        }

        address {
            font-size: 10px;
        }

        span {
            font-family: $MrsEavesRoman;
            font-size: 1.4em;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.11em;
            white-space: nowrap;
        }
    }

    .intro {
        overflow: visible;

        h2 {
            color: $white;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
        }
    }

    .masthead {
        background-image: url(../img/pages/contact/masthead.jpg);
        // padding-bottom: 37.4%;

        .text-box {
            @extend %absolute-center;
            text-align: center;
            background-color: transparent;
            right: auto;
            bottom: auto;
            width: 100%;
            max-width: none;

            .text-wrap {
                padding: 0;
            }
        }
    }

    .form-wrapper {
        width: 70%;
        margin: 5em auto 0 auto;
        max-width: 900px;
        font-size: 10px
    }

    .btn.zipcode {
        padding: 1.3em 5.4em 1.3em 2em;
    }

    h4 {
        font-size: 1.6em;
        font-family: $MrsEavesRoman;
        text-transform: none;
        letter-spacing: 0.1em;
        margin-bottom: 40px;
    }

    .email, .message {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        font-size: 1.6em;
        font-family: $MrsEavesRoman;
        text-transform: none;
        letter-spacing: 0.1em;
        padding: 1em 1em 1em 2em;
    }

    .submit {
        float: right;
        padding: 1.4em 2.0em;
        margin-bottom: 11em;
    }

    .errors, .success {
        float: left;
        margin-top: 1em;

        p {
            &:before {
                content: '';
                position: absolute;
                background-size: cover;
            }
        }
    }
}

.errors-showing {

    .errors {

        p {
            margin-left: 40px;

            &:before {
                width: 26px;
                height: 26px;
                margin-left: -40px;
                background-image: url(../img/failure.png);
            }
        }
    }
}

.success-showing {

    .success {

        p {
            margin-left: 50px;

            &:before {
                width: 37px;
                height: 26px;
                margin-left: -50px;
                background-image: url(../img/success.png);
            }
        }
    }
}