.contact.page {

    .intro {
        overflow: visible;
    }

    .masthead {
        background-image: url(../img/pages/contact/masthead.jpg);
        padding-bottom: 27.4%;

        .text-box {
            @extend %absolute-center;
            text-align: center;
            background-color: transparent;
            right: auto;
            bottom: auto;
            width: 100%;
            max-width: none;

            .text-wrap {
                padding: 0;
            }
        }
    }

    .form-wrapper {
        width: 70%;
        margin: 7em auto 0 auto;
        max-width: 900px;
    }

    h4 {
        font-size: 1.6em;
        font-family: $MrsEavesRoman;
        text-transform: none;
        letter-spacing: 0.1em;
        margin-bottom: 40px;
    }

    .email, .message {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        font-size: 1.6em;
        font-family: $MrsEavesRoman;
        text-transform: none;
        letter-spacing: 0.1em;
        padding: 1em 1em 1em 2em;
    }

    .submit {
        float: right;
        padding: 1.4em 2.0em;
        margin-bottom: 11em;
    }
}