.home.page {
    .masthead-1 { background-image: url(../img/pages/home/masthead-1.jpg); }
    .masthead-2 { background-image: url(../img/pages/home/masthead-2.jpg); }
    .masthead-3 { background-image: url(../img/pages/home/masthead-1.jpg); }
    .block-1 { background-image: url(../img/pages/home/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/home/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/home/block-3.jpg); }
    .block-4 { background-image: url(../img/pages/home/block-4.jpg); }
    .block-5 { background-image: url(../img/pages/home/block-5.jpg); }

    .grid .section {
        overflow: hidden;

        &:last-child {
            padding-bottom: 12em;
        }
    }

    .h10 {
        @include transition(opacity 0.3s $easeInOut);
    }

    .earl {
        position: absolute;
        top: 4.4%;
        right: 2.4%;
        width: 35.7%;
        height: 91.2%;
        background-image: url(../img/pages/home/earl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

    }

    .masthead-1, .masthead-2, .masthead-3 {
        // padding-bottom: 120%;

        // @media (min-width: 600px) {
        //     padding-bottom: 75%;
        // }

        // @media (min-width: 768px) {
        //     // background-attachment: fixed;
        //     padding-bottom: 52%;
        // }
    }

    .masthead-1 {
        height: 500px;
        // position: fixed;
        background-attachment: fixed;
    }

    .intro {
        // height: 500px;
        // position: fixed;
    }

    .second-intro {
        // top: 500px;
    }

    .masthead-2 {

        .text-box {
            width: 100%;

            .text-wrap {
                padding: 2em 1em;
            }
        }

        @media (min-width: 600px) {
            .text-box {
                width: 90%;

                .text-wrap {
                    padding: 2em 1em;
                }
            }
        }

        @media (min-width: 768px) {
            .text-box {
                width: 80%;

                .text-wrap {
                    padding: 6.6em 5em 5.5em 5em;
                }
            }
        }

        @media (min-width: 880px) {
            .text-box {
                width: 67%;

                .text-wrap {
                    padding: 6.6em 5em 5.5em 5em;
                }
            }
        }
    }

    .block-2 {
        margin-top: 3.5em;

        @media (min-width: 768px) {
            float: right;
        }
    }

    .block-link {
        margin: 5em 0 5em 0;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }
    }

    .block-text {
        width: 100%;
        padding: 0 3em;
        text-align: left;

        @media (min-width: 768px) {
            text-align: left;
            padding: 0 7em 0 0;
        }
    }

    .block-text-1 {
        margin-top: 6em;

        p:nth-child(2) {
            margin-top: 2em;
        }
    }

    .block-text-2 {
        margin-top: 4.5em;
    }
}