.home.page {
    .masthead-1 { background-image: url(../img/pages/home/masthead-1.jpg); }
    .masthead-2 { background-image: url(../img/pages/home/masthead-2.jpg); }
    .masthead-3 { background-image: url(../img/pages/home/masthead-3.jpg); }
    .block-1 { background-image: url(../img/pages/home/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/home/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/home/block-3.jpg); }
    .block-4 { background-image: url(../img/pages/home/block-4.jpg); }
    .block-5 { background-image: url(../img/pages/home/block-5.jpg); }

    .block-2 {
        float: right;
        margin-top: 3.5em;
    }

    .block-link {
        margin: 5em 0 9em 0;
    }

    .block-text-1 {
        margin-top: 6em;
    }

    .block-text-2 {
        margin-top: 4.5em;
    }
}