.method.page {

    .sub-grid {
        margin: -5.5em auto 13.5em auto;
    }

    .masthead-4 { background-image: url(../img/pages/method/masthead.jpg); }
    .block-1 { background-image: url(../img/pages/method/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/method/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/method/block-3.jpg); }
    .block-4 { background-image: url(../img/pages/method/block-4.jpg); }
    .block-5 { background-image: url(../img/pages/method/block-5.jpg); }
    .block-6 { background-image: url(../img/pages/method/block-6.jpg); }

    .masthead-4 {
        padding-bottom: 35.2%;
    }

    .h8 {
        line-height: 2;
    }

    .block-2 {
        margin-left: 34%;
    }

    .block-3 {
        margin-top: 4.5em;
        margin-left: 0;
    }

    .block-text-1 {
        width: 66%;
        margin: 7.5em 0 5.5em 34%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-2 {
        width: 66%;
        margin: 7.5em 0 5.5em 34%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-3 {
        width: 70%;
        margin: 14em 0 5.5em 0;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-4 {
        width: 70%;
        margin-top: 6.5em;
        margin-bottom: 5.5em;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }
}