.product.page {

    h2 {
        text-transform: none;

        &.large {
            text-transform: uppercase;
        }
    }
}

.beyond-luxury {
    .col-full-bleed-bg {
        background-image: url(../img/pages/products/luxury-1.jpg);
    }
}