.retailers.page {

    .intro {
        overflow: visible;
    }

    .headline {
        padding: 4.5em 0 5em 0;
    }

    .masthead-5 { background-image: url(../img/pages/retailers/masthead.jpg); }
    #map { background-image: url(../img/pages/retailers/map.jpg); }

    #map {
        @extend %background-cover;
        position: absolute;
        top: 20%;
        left: 10%;
        background-color: black;
        width: 35%;
        padding-bottom: 35%;
    }

    .zipcode-form {
        pointer-events: none;
    }

}