.retailers.page {

    &.error {
        .errors {
            display: block;
        }
    }

    .intro {
        overflow: visible;
    }

    .headline {
        padding: 4.5em 0 5em 0;
    }

    .masthead-5 { background-image: url(../img/pages/retailers/masthead.jpg); }

    .masthead .text-box {
        max-width: 550px;
    }

    .map {
        position: absolute;
        top: 20%;
        left: 10%;
        background-color: black;
        width: 35%;
        padding-bottom: 35%;
    }

    .errors {
        position: absolute;
        display: none;
        right: 0;
        @include translate3d(0, 200%, 0);

        p {
            @extend .h8;
            font-size: 1.2em;
            text-transform: none;
            color: red;
        }
    }

    .zipcode-wrapper {
        display: inline-block;
        position: relative;
    }

    .zipcode-form {
        // pointer-events: none;
    }

}