.about.page {

    .sub-grid {
        margin: -5.5em auto 13.5em auto;
        max-width: 930px;
    }

    .masthead-caption {
        position: absolute;
        display: block;
        max-width: 70%;
        bottom: 30px;
        left: 7.5%;
        font-family: $MrsEavesRoman;
        font-size: 1.8em;
        letter-spacing: 0.1em;
        color: #d9d9d9;
        @media (min-width: 768px) {
            left: 10.5%;
        }
    }

    .masthead-4 { background-image: url(../img/pages/about/masthead.jpg); }
    .block-1 { background-image: url(../img/pages/about/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/about/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/about/block-3.jpg); }

    .h2, .h7 {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    }

    .block-3 {
        margin-top: 4.5em;
        margin-left: 0;
    }

    .block-text-1 {
        margin-top: 14.5em;
        margin-left: 15%;
        width: 80%;
        padding-bottom: 0;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-2 {
        margin-top: 14.5em;
        margin-right: 15%;
        margin-left: 5%;
        width: 80%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }
}

.about.page .mobile-grid .block-text-1 {
    padding-bottom: 0;
}