.about.page {

    .sub-grid {
        margin: -5.5em auto 13.5em auto;
        max-width: 930px;
    }

    .masthead-4 { background-image: url(../img/pages/about/masthead.jpg); }
    .block-1 { background-image: url(../img/pages/about/block-1.jpg); }
    .block-2 { background-image: url(../img/pages/about/block-2.jpg); }
    .block-3 { background-image: url(../img/pages/about/block-3.jpg); }

    .block-3 {
        margin-top: 4.5em;
        margin-left: 0;
    }

    .block-text-1 {
        margin-top: 14.5em;
        margin-left: 15%;
        width: 80%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }

    .block-text-2 {
        margin-top: 14.5em;
        margin-right: 15%;
        margin-left: 5%;
        width: 80%;

        p {
            margin-top: 1.5em;
            line-height: 2.6;
        }
    }
}