<div class="grid">
<section class="section intro">
    <div class="masthead masthead-4">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2 inverted">Earl S. Kluft</h2>
                <h6 class="h7 inverted">A life dedicated to evolving the luxury sleep experience.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-92 block-image"></div>
        <div class="block-text block-text-1">
        <h6 class="h8 bold">Kluft Heritage</h6>
            <p>Through three generations, the Kluft family has mastered the luxury mattress. As a world-class master craftsman, Earl S. Kluft has built on this heritage with his opulent, signature creations. Early in his career he single-handedly defined world-class comfort with the first of his many masterpieces. Kluft craftsmanship now sets the universal standard for sophistication and refinement.</p>
        </div>
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Kluft Today</h6>
            <p>For Earl, perfection is a journey, not a destination. He pushes the boundaries of craftsmanship and technology, fusing all-natural materials with a passion for design innovation. His latest endeavor is the culmination of generations of hard work, knowledge and experience that could only be called by his own name, Kluft.</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-3">
            <h6 class="h6 bold">"It’s taken a lot of<br/> sleepless nights<br/> to craft the perfect<br/> night's sleep."</h6>
            <h6 class="h7">- Earl S. Kluft</h6>
        </div>
        <div class="block block-2 block-100 aspect-58 block-image"></div>
        <div class="block block-3 block-70 aspect-114 block-image"></div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro">
        <div class="masthead masthead-4">
            <div class="text-box">
                <div class="text-wrap">
                    <h2 class="h2 inverted">Earl S. Kluft</h2>
                    <h6 class="h7 inverted">A life dedicated to evolving the luxury sleep experience.</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-1 block-image"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">Kluft Heritage</h6>
        <p>Through three generations, the Kluft family has mastered the luxury mattress. As a world-class master craftsman, Earl S. Kluft has built on this heritage with his opulent, signature creations. Early in his career he single-handedly defined world-class comfort with the first of his many masterpieces. Kluft craftsmanship now sets the universal standard for sophistication and refinement.</p>
    </div>

    <div class="block block-2 block-image"></div>
    <div class="block-text block-text-2">
        <h6 class="h8 bold">Kluft Today</h6>
        <p>For Earl, perfection is a journey, not a destination. He pushes the boundaries of craftsmanship and technology, fusing all-natural materials with a passion for design innovation. His latest endeavor is the culmination of generations of hard work, knowledge and experience that could only be called by his own name, Kluft.</p>
    </div>

    <div class="block block-3 block-image"></div>

    <div class="block-text block-text-3">
        <h6 class="h6 bold">"It’s taken a lot of<br/> sleepless nights<br/> to craft the perfect<br/> night's sleep."</h6>
        <h6 class="h7">- Earl S. Kluft</h6>
    </div>

</div>