<section class="intro">
    <div class="col-1-1 col-masthead col-full-bleed-bg">
        <div class="row">
            <h1>Earl S. Kluft</h1>
            <p>A third-generation master of mattress making, Earl S. Kluft has dedicated his life to evolving the luxury sleep experience. Early in his career he single-handedly defined world-class comfort with the first of his many masterpieces.</p>
        </div>
    </div>
</section>

<section class="master-standard">
    <div class="col-1-2 col-left">
        <div class="block-figure">
            <figure>
                <img src="/img/pages/about/kluft-1.jpg" alt="">
            </figure>
        </div>
        <div class="block-text">
            <p>hand with the finest materials, artistry and precision, Kluft craftsmanship sets the universal standard for sophistication and refinement. A sleep this perfect has been a century in the making.</p>
        </div>
        <div class="block-text">
            <h5>Day To Day</h5>
            <p>For Earl, perfection is a journey, not a destination. He pushes the boundaries of craftsmanship and technology, fusing all-natural materials with a passion for design innovation. His latest endeavor is the culmination of generations of hard work, knowledge and experience that could only be called by his own name, Kluft.</p>
        </div>
        <div class="block-text">
            <p class="quote">“It takes many sleepless nights to craft the perfect night’s sleep.”</p>
            <p>- Earl S. Kluft</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text">
            <h5>The Story</h5>
            <p>Through three generations, the Kluft family has mastered the luxury mattress. As a world-class master craftsman, Earl S. Kluft has built on this heritage with his opulent, signature creations. Deftly tailored by</p>
        </div>
        <div class="block-figure">
            <figure>
                <img src="/img/pages/about/kluft-2.jpg" alt="">
            </figure>
        </div>
        <div class="block-figure">
            <figure class="partial-2-3">
                <img src="/img/pages/about/kluft-3.jpg" alt="">
            </figure>
        </div>
    </div>
</section>