<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h4 class="h4 inverted">{{t "Beyond"}}<br/>{{t "Luxury"}}</h4>
                <h6 class="h7 inverted">{{t "theworldsmost"}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-92 block-image"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Beyond"}}<br/>{{t "Comfort"}}</h6>
            <p>{{t "marriageofold"}}</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">{{t "Featuring"}}<br/>{{t "The Palais Royale"}}</h6>
            <p>{{t "fitforaking"}}</p>
        </div>
        <div class="block block-2 block-100 aspect-58 block-image"></div>
        <div class="block block-3 block-60 aspect-1 block-image"></div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-1 parallax-bg">
            <div class="text-box">
                <div class="text-wrap">
                    <h4 class="h4 inverted">{{t "Beyond"}}<br/>{{t "Luxury"}}</h4>
                    <h6 class="h7 inverted">{{t "theworldsmost"}}</h6>
                </div>
            </div>
        </div>
    </section>


    <div class="block-text block-text-1">
        <h6 class="h8 bold">{{t "Beyond"}}<br/>{{t "Comfort"}}</h6>
        <p>{{t "marriageofold"}}</p>
    </div>
    <div class="block block-1 block-100 block-image"></div>


    <div class="block-text block-text-2">
        <h6 class="h8 bold">{{t "Featuring"}}<br/>{{t "The Palais Royale"}}</h6>
        <p>{{t "fitforaking"}}</p>
    </div>
    <div class="block block-2 block-image"></div>
    <div class="block block-3 block-image"></div>
</div>