<div class="grid">
<section class="section intro">
    <div class="masthead masthead-1">
        <div class="text-box">
            <div class="text-wrap">
                <h4 class="h4 inverted">Beyond<br/> Luxury</h4>
                <h6 class="h7 inverted">The world’s most luxurious materials woven with unparalleled craftsmanship.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section sub-grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-92"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">Beyond<br/> Comfort</h6>
            <p>The Beyond Luxury collection is a marriage of old world artisanship and new world technique. Designed with the aid of a sophisticated body mapping system, it’s the most advanced mattress ever designed. We’ve brought rigorous tailoring with a mind for the details: traditional hand side-stitching, individually inserted hand tufts and an unmatched nested coil system.</p>
        </div>
        <!-- <div class="block block-link block-link-1">
            <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
        </div> -->
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Featuring<br/> The Palais Royal</h6>
            <p>Made by masters. Fit for a king. The Palais Royale is truly Beyond Luxury. It’s handmade with layer upon layer of the world’s finest materials to provide maximum pressure relief, extraordinary support and unsurpassed comfort. Inside you’ll find luxurious cashmere, Joma wool, prime cotton and Talalay latex, materials that cradle the body in total lavishness.</p>
        </div>
        <div class="block block-2 block-100 aspect-58"></div>
        <div class="block block-3 block-60 aspect-1"></div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro">
        <div class="masthead masthead-1">
            <div class="text-box">
                <div class="text-wrap">
                    <h4 class="h4 inverted">Beyond<br/> Luxury</h4>
                    <h6 class="h7 inverted">The world’s most luxurious materials woven with unparalleled craftsmanship.</h6>
                </div>
            </div>
        </div>
    </section>


    <div class="block-text block-text-1">
        <h6 class="h8 bold">Beyond<br/> Comfort</h6>
        <p>The Beyond Luxury collection is a marriage of old world artisanship and new world technique. Designed with the aid of a sophisticated body mapping system, it’s the most advanced mattress ever designed. We’ve brought rigorous tailoring with a mind for the details: traditional hand side-stitching, individually inserted hand tufts and an unmatched nested coil system.</p>
    </div>
    <!-- <div class="block block-link block-link-1">
        <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
    </div> -->
    <div class="block block-1 block-100"></div>


    <div class="block-text block-text-2">
        <h6 class="h8 bold">Featuring<br/> The Palais Royal</h6>
        <p>Made by masters. Fit for a king. The Palais Royale is truly Beyond Luxury. It’s handmade with layer upon layer of the world’s finest materials to provide maximum pressure relief, extraordinary support and unsurpassed comfort. Inside you’ll find luxurious cashmere, Joma wool, prime cotton and Talalay latex, materials that cradle the body in total lavishness.</p>
    </div>
    <div class="block block-2"></div>
    <div class="block block-3"></div>
</div>