<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-4 parallax-bg"></div>
</section>

<section class="section  has-max sub-grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-86 block-image">
            <a class="overaly-link" href="/collections/beyond-luxury">
                <div class="overlay">
                    <h4>{{t "Beyond Luxury"}}</h4>
                </div>
            </a>
        </div>
        <div class="block block-2 block-66 aspect-114 block-image">
            <a class="overaly-link" href="/collections/royal-sovereign">
                <div class="overlay">
                    <h4>{{t "Royal Sovereign"}}</h4>
                </div>
            </a>
        </div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Royal"}}<br/> {{t "Sovereign"}}</h6>
            <p>{{t "refinedcomfort"}}</p>
        </div>
        <div class="block block-link block-link-1">
            <a href="/collections/royal-sovereign/" class="btn learn-more">{{t "learn more"}}</a>
        </div>
        <div class="block block-3 block-66 aspect-1 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">{{t "Beyond Luxury"}}</h6>
            <p>{{t "mostluxury"}}</p>
        </div>
        <div class="block block-link block-link-2">
            <a href="/collections/beyond-luxury/" class="btn learn-more">{{t "learn more"}}</a>
        </div>
        <div class="block block-4 block-100 aspect-75 block-image">
            <a class="overaly-link" href="/collections/kluft-signature">
                <div class="overlay">
                    <h4>{{t "Kluft Signature"}}</h4>
                </div>
            </a>
        </div>
        <div class="block-text block-text-3">
            <h6 class="h8 bold">{{t "Kluft"}}<br/> {{t "Signature"}}</h6>
            <p>{{t "classicluxury"}}</p>
        </div>
        <div class="block block-link block-link-3">
            <a href="/collections/kluft-signature/" class="btn learn-more">{{t "learn more"}}</a>
        </div>
        <div class="block block-5 block-66 aspect-114 block-image">
            <a class="overaly-link" href="/collections/royal-sovereign-latex">
                <div class="overlay">
                    <h4>{{t "Royal Sovereign Latex"}}</h4>
                </div>
            </a>
        </div>
        <div class="block-text block-text-4">
            <h6 class="h8 bold">{{t "Royal"}}<br/> {{t "Sovereign Latex"}}</h6>
            <p>{{t "bestselling"}}</p>
        </div>
        <div class="block block-link block-link-4">
            <a href="/collections/royal-sovereign-latex/" class="btn learn-more">{{t "learn more"}}</a>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-4 parallax-bg"></div>
    </section>

    <div class="block block-1 block-image"></div>
    <div class="block-text block-text-2">
        <h6 class="h8 bold">{{t "Beyond Luxury"}}</h6>
        <p>{{t "mostluxury"}}</p>
    </div>
    <div class="block block-link">
        <a href="/collections/beyond-luxury/" class="btn learn-more">{{t "learn more"}}</a>
    </div>

    <div class="block block-2 block-image"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">{{t "Royal"}}<br/> {{t "Sovereign"}}</h6>
        <p>{{t "refinedcomfort"}}</p>
    </div>
    <div class="block block-link">
        <a href="/collections/royal-sovereign/" class="btn learn-more">{{t "learn more"}}</a>
    </div>

    <div class="block block-4 block-image"></div>
    <div class="block-text block-text-3">
        <h6 class="h8 bold">{{t "Kluft"}}<br/> {{t "Signature"}}</h6>
        <p>{{t "classicluxury"}}</p>
    </div>
    <div class="block block-link">
        <a href="/collections/kluft-signature/" class="btn learn-more">{{t "learn more"}}</a>
    </div>
    <div class="block block-5 block-image"></div>
    <div class="block-text block-text-4">
        <h6 class="h8 bold">{{t "Royal"}}<br/> {{t "Sovereign Latex"}}</h6>
        <p>{{t "bestselling"}}</p>
    </div>
    <div class="block block-link block-link-4">
        <a href="/collections/royal-sovereign-latex/" class="btn learn-more">{{t "learn more"}}</a>
    </div>
</div>