<section class="section intro">
    <div class="masthead masthead-4">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">Collections</h2>
            </div>
        </div>
    </div>
</section>

<section class="section grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-86"></div>
        <div class="block block-2 block-66 aspect-114"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">Royal<br/> Sovereign</h6>
            <p>Handcrafted with natural materials for refined comfort.</p>
        </div>
        <div class="block block-link block-link-1">
            <a href="/collections/royal-sovereign/" class="btn learn-more">learn more</a>
        </div>
        <div class="block block-3 block-66 aspect-1"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Beyond Luxury</h6>
            <p>The world’s most luxurious materials woven with unparalleled craftsmanship.</p>
        </div>
        <div class="block block-link block-link-2">
            <a href="/collections/beyond-luxury/" class="btn learn-more">learn more</a>
        </div>
        <div class="block block-4 block-100 aspect-75"></div>
        <div class="block-text block-text-3">
            <h6 class="h8 bold">Kluft<br/> Signature</h6>
            <p>Classic luxury interwoven with modern sophistication.</p>
        </div>
        <div class="block block-link block-link-3">
            <a href="/collections/kluft-signature/" class="btn learn-more">learn more</a>
        </div>
        <div class="block block-5 block-66 aspect-114"></div>
        <div class="block-text block-text-4">
            <h6 class="h8 bold">Royal<br/> Sovereign Latex</h6>
            <p>Our bestselling collection handcrafted with man-made and natural materials.</p>
        </div>
        <div class="block block-link block-link-4">
            <a href="/collections/royal-sovereign-latex/" class="btn learn-more">learn more</a>
        </div>
    </div>
</section>