<div class="col-1-1 col-full-bleed-bg">

    <div class="row">
        <h1 class="large">Collections</h1>
        <nav>
            <ul>
                <li>
                    <a href="/collections/beyond-luxury/">Beyond Luxury</a>
                </li>
                <li>
                    <a href="/collections/signature-series/">Signature Series</a>
                </li>
                <li>
                    <a href="/collections/royal-sovereign/">Royal Sovereign</a>
                </li>
                <li>
                    <a href="/collections/royal-standard/">Royal Standard</a>
                </li>
                <!-- <li>
                    <a href="/collections/versailles/">Versailles</a>
                </li>
                <li>
                    <a href="/collections/luxury-latex/">Luxury Latex</a>
                </li> -->
            </ul>
        </nav>
    </div>
</div>