<div class="col-1-1 headline">
    <h2>Map</h2>
    <h2>Contact</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
</div>

<div class="col-1-1">
    <div class="contact-info">
        <h4>Contact us by mail</h4>
        <address>
            <span class="title">E.S. Kluft &amp; Company</span>
            11096 Jersey Blvd.</br>
            Rancho Cucamonga, CA 91730</br>
            (909) 373 - 4211</br>
        </address>
    </div>

    <form action="" method="post" class="contact-form">
          <label for="name">Contact us by email</label>
          <input type="text" name="email" id="email" />

          <textarea name="message" rows="20" cols="20" id="message"></textarea>

          <input type="submit" name="submit" value="Submit" />
    </form>
</div>