<section class="section intro">
    <div class="masthead masthead-5">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">Contact</h2>
            </div>
        </div>
        <div id="map"></div>
    </div>
</section>

<section class="section">
    <div class="headline">
        <div class="address-block">
            <h6 class="h9">E.S. Kluft &amp; Company</h6>
            <address>
              11096 Jersey Blvd.</br>
              Rancho Cucamonga, CA 91730</br>
              (909)373-4211</br>
            </address>
        </div>
    </div>
</section>

<section class="section">
    <div class="success">
        <h4>Thank you for contacting us, a representative will contact within 24-48hrs</h4>
    </div>
    <form action="" method="post" class="contact-form">
        <label class="h8 bold" for="email">Your Email Address</label>
        <div class="email-wrapper">
            <div class="errors"></div>
            <input type="text" class="email" name="email" placeholder="example@gmail.com" id="email" />
        </div>
        <textarea class="message" name="message" rows="20" cols="20" id="message"></textarea>
        <input class="btn submit" type="submit" name="submit" value="Submit" />
    </form>
</section>