<section class="section intro is-loading">
    <div class="masthead masthead-short parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">{{t "Contact Kluft"}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="form-wrapper">

    <h4>{{t "questions"}}</h4>

    <form action="" method="post" class="contact-form">
        <input type="text" class="email" name="email" placeholder="{{t "Your email address"}}" id="email" />
        <textarea class="message" name="message" rows="20" placeholder="{{t "messagehere"}}" cols="20" id="message"></textarea>
        <div class="errors">
            <p class="error">{{t "Please provide a valid email"}}</p>
        </div>
        <div class="success">
            <p>{{t "Message sent"}}</p>
        </div>
        <input class="btn submit" type="submit" name="submit" value="{{t "Submit"}}" />
    </form>
</div>
<div class="address">
    <span class="title">E. S. Kluft & Company</span>

    <address>
        <span class="">11096 Jersey Blvd.</span>
        <span class="">Rancho Cucamonga, CA 91730</span>
        <span class="">909-373-4211</span>
    </address>
</div>

<div class="map"></div>