<div class="back-to-top">
    <h6 class="h10 to-top">{{t "Back To Top"}}</h6>
</div>

<nav>
    <ul class="footer-links">
        <li>
            <a href="/collections/">{{t "The Collection"}}</a>
        </li>
        <li>
            <a href="/tradition/">{{t "The Tradition"}}</a>
        </li>
        <li>
            <a href="/method/">{{t "The Method"}}</a>
        </li>
        <li>
            <a href="/kluft-standard/">{{t "The Kluft Standard"}}</a>
        </li>
        <li>
            <a href="/retailers/">{{t "Retailers"}}</a>
        </li>
        <li>
            <a href="/contact/">{{t "Contact"}}</a>
        </li>
    </ul>
</nav>

<h6 class="h10">&copy;2015 E.S. Kluft & Company</h6>

<div class="social-links">
    <a href="https://www.facebook.com/Kluftmattress/?hc_ref=SEARCH&fref=nf" target="_blank" class="social facebook">Facebook</a>
    <span></span>
    <a href="https://www.instagram.com/kluft_mattress/?hl=en" target="_blank" class="social instagram">Instagram</a>
</div>

<div class="language-select">
    <h3 class="lang-select">{{t "Language"}}</h3>
    <h3 class="select">{{t "English"}}
        <ul class="options">
            <li>
                <h3 class="option">{{t "English"}}</h3>
            </li>
            <li>
                <h3 class="option">{{t "Spanish"}}</h3>
            </li>
            <li>
                <h3 class="option">{{t "Chinese"}}</h3>
            </li>
        </ul>
    </h3>
</div>