<div class="back-to-top">
    <h6 class="h10 to-top">{{t "Back To Top"}}</h6>
</div>

<nav>
    <ul>
        <li>
            <a href="/collections/">{{t "The Collection"}}</a>
        </li>
        <li>
            <a href="/tradition/">{{t "The Tradition"}}</a>
        </li>
        <li>
            <a href="/method/">{{t "The Method"}}</a>
        </li>
        <li>
            <a href="/kluft-standard/">{{t "The Kluft Standard"}}</a>
        </li>
        <li>
            <a href="/retailers/">{{t "Retailers"}}</a>
        </li>
        <li>
            <a href="/contact/">{{t "Contact"}}</a>
        </li>
    </ul>
</nav>

<h6 class="h10">&copy;2015 E.S. Kluft & Company</h6>