<nav>
    <ul>
        <li>
            <a href="/collections/">Collections</a>
        </li>
        <li>
            <a href="/earl-kluft/">Earl S. Kluft</a>
        </li>
        <li>
            <a href="/method/">The Method</a>
        </li>
        <li>
            <a href="/kluft-standard/">The Kluft Standard</a>
        </li>
        <!-- <li>
            <a href="/retailers/">Retailers</a>
        </li> -->
        <li>
            <a href="/contact/">Contact</a>
        </li>
    </ul>
</nav>

<h6 class="h10">&copy;2015 E.S. Kluft &amp; Company</h6>