<a href="/" class="logo">Kluft</a>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/collections/">Collections</a>
        </li>
        <li>
            <a href="/earl-kluft/">Earl S. Kluft</a>
        </li>
        <li>
            <a href="/master-standard/">The Master Standard</a>
        </li>
        <li>
            <a href="/retailers/">Retailers</a>
        </li>
        <li>
            <!-- <a href="/contact/">Contact</a> -->
        </li>
    </ul>
</nav>