<div class="toggle-menu">
    <figure class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </figure>
</div>

<a href="/" class="logo">{{t "Kluft"}}</a>

<nav class="main-nav">
    <ul>
        <li class="collection-link" >
            <a href="/collections/">{{t "The Collection"}}</a>
            <ul class="sub-nav">
                <li>
                    <a class="subtitle small" href="/collections/beyond-luxury/">{{t "Beyond Luxury"}}</a>
                </li>
                <li>
                    <a class="subtitle small" href="/collections/kluft-signature/">{{t "Kluft Signature"}}</a>
                </li>
                <li>
                    <a class="subtitle small" href="/collections/royal-sovereign/">{{t "Royal Sovereign"}}</a>
                </li>
                <li>
                    <a class="subtitle small" href="/collections/royal-sovereign-latex/">{{t "Royal Sovereign Latex"}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/tradition/">{{t "The Tradition"}}</a>
        </li>
        <li>
            <a href="/method/">{{t "The Method"}}</a>
        </li>
        <li>
            <a href="/kluft-standard/">{{t "The Kluft Standard"}}</a>
        </li>
        <li>
            <a href="/retailers/">{{t "Retailers"}}</a>
        </li>
        <li>
            <a href="/contact/">{{t "Contact"}}</a>
        </li>
    </ul>
</nav>

<div class="mobile-menu">
        <nav>
            <ul>
                <li>
                    <a class="mobile-link" href="/collections/">{{t "The Collection"}}</a>
                </li>
                <li>
                    <a class="mobile-link" href="/tradition/">{{t "The Tradition"}}</a>
                </li>
                <li>
                    <a class="mobile-link" href="/method/">{{t "The Method"}}</a>
                </li>
                <li>
                    <a class="mobile-link" href="/kluft-standard/">{{t "The Kluft Standard"}}</a>
                </li>
                <li>
                    <a class="mobile-link" href="/retailers/">{{t "Retailers"}}</a>
                </li>
                <li>
                    <a class="mobile-link" href="/contact/">{{t "Contact"}}</a>
                </li>
            </ul>
        </nav>
    </div>