<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1 parallax-bg">
        <h6 class="h10 inverted scroll">{{t "scroll down"}}</h6>
    </div>
</section>

<section class="section has-max second-intro is-loading">
    <div class="headline">
        <h3>{{t "Crafted by masters"}}</h3>
        <h6 class="h7">{{t "for those who never stop dreaming"}}</h6>
    </div>

    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-75 block-image"></div>
        <div class="block block-2 block-66 aspect-114 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-1">
            <p>{{t "therearethose"}}</p>
            <p>{{t "kluftcraft"}}</p>
        </div>
        <div class="block block-link">
            <a href="/method/" class="btn learn-more">{{t "learn more"}}</a>
        </div>
        <div class="block block-3 block-100 aspect-58 decoration block-image"></div>
    </div>
</section>

<section class="section pull-up is-loading">
    <div class="masthead masthead-2">
        <div class="text-box">
            <div class="text-wrap">
                <h3 class="h3 inverted">{{t "The Tradition"}}</h3>
                <p class="h7 inverted">{{t "sinceour"}}</p>
                <a href="/tradition/" class="btn inverted learn-more">{{t "learn more"}}</a>
            </div>
        </div>
    </div>
</section>

<section class="section has-max is-loading">
    <div class="headline">
        <h3>{{t "Collections"}}</h3>
    </div>

    <div class="col-1-2 col-left">
        <div class="block block-4 block-100 aspect-87 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block block-text">
            <p>{{t "ourcoll"}}</p>
        </div>
        <div class="block-link">
            <a href="/collections/" class="btn see-collections">{{t "see collections"}}</a>
        </div>
        <div class="block block-5 block-100 aspect-63 decoration block-image"></div>
    </div>
</section>

<!-- <section class="section pull-up">
    <div class="masthead masthead-3"></div>
</section> -->
</div>

<div class="mobile-grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1">
        <h6 class="h10 inverted scroll">{{t "scroll down"}}</h6>
    </div>
</section>

<section class="section is-loading">
    <div class="headline">
        <h3>{{t "Crafted by masters"}}</h3>
        <h6 class="h7">{{t "for those who never stop dreaming"}}</h6>
    </div>

    <div class="block block-1 block-100 block-image"></div>
    <div class="block block-2 block-100 block-image"></div>

    <div class="block-text">
        <p>{{t "therearethose"}}</p>
        <p>{{t "kluftcraft"}}</p>
    </div>
    <div class="block block-link">
        <a href="/method/" class="btn learn-more">{{t "learn more"}}</a>
    </div>

    <div class="masthead masthead-2">
        <div class="text-box">
            <div class="text-wrap">
                <h3 class="h3 inverted">{{t "The Tradition"}}</h3>
                <p class="h7 inverted">{{t "sinceour"}}</p>
                <a href="/tradition/" class="btn inverted learn-more">{{t "learn more"}}</a>
            </div>
        </div>
    </div>

    <div class="headline">
        <h3>{{t "Collections"}}</h3>
    </div>

    <div class="block block-4 block-100 block-image"></div>
    <div class="block block-5 block-100 block-image"></div>

    <div class="block block-text block-text-2">
        <p>{{t "ourcoll"}}</p>
    </div>
    <div class="block-link">
        <a href="/collections/" class="btn see-collections">{{t "see collections"}}</a>
    </div>
</div>