<section class="section intro">
    <div class="masthead masthead-1">
        <div class="text-box">
            <div class="text-wrap">
                <h6 class="h7 inverted">Crafted by masters for those who</h6>
                <h4 class="h4 inverted">never stop dreaming.</h4>
                <h6 class="h10 inverted">scroll down</h6>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="headline">
        <h3>Crafted by masters</h3>
    </div>

    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-75"></div>
        <div class="block block-2 block-66 aspect-114"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-1">
            <p>There are those who live life without compromise. In pursuit of precision, they dedicate years to honing their craft. We’re all born with certain talents. But it takes a lifetime of work to be a master.</p>
            <p>Kluft craftsmanship sets the master standard for the luxury sleep experience.</p>
        </div>
        <div class="block block-link">
            <a href="/kluft-standard/" class="btn learn-more">learn more</a>
        </div>
        <div class="block block-3 block-100 aspect-58"></div>
    </div>
</section>

<section class="section pull-up">
    <div class="masthead masthead-2">
        <div class="text-box">
            <div class="text-wrap">
                <h3 class="h3 inverted">Earl S. Kluft</h3>
                <p class="h7 inverted">Throughout three generations, the Kluft family has mastered the luxury mattress. Earl S. Kluft, a world-class master craftsman, has built on this heritage with his opulent, signature creations.</p>
                <a href="/earl-kluft/" class="btn inverted learn-more">learn more</a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="headline">
        <h3>Collections</h3>
    </div>

    <div class="col-1-2 col-left">
        <div class="block block-4 block-100 aspect-87"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block block-text block-text-2">
            <p>Our collections are designed and constructed with the world’s most superior materials, tools &amp; craftsmanship.</p>
        </div>
        <div class="block-link">
            <a href="/collections/" class="btn see-collections">collections</a>
        </div>
        <div class="block block-5 block-100 aspect-63"></div>
    </div>
</section>

<section class="section pull-up">
    <div class="masthead masthead-3"></div>
</section>