<div class="grid">
<section class="section intro is-loading">
    <div class="masthead  masthead-short masthead-4 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">{{t "The Kluft Standard"}}&trade;</h2>
                <h6 class="h7">{{t "thepatent"}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-87 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "The Kluft Standard"}}&trade;</h6>
            <p>{{t "reimagined"}}&trade;{{t "anatural"}}</p>
            <p>{{t "patentedprocess"}}</p>
        </div>
        <div class="block block-link block-link-1">
            <a href="/retailers/" class="btn learn-more">{{t "Find a Retailer"}}</a>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-4 parallax-bg">
            <div class="text-box">
                <div class="text-wrap">
                    <h2 class="h2">{{t "The Kluft Standard"}}&trade;</h2>
                    <h6 class="h7">{{t "thepatent"}}</h6>
                </div>
            </div>
        </div>
    </section>



    <div class="block-text block-text-1">
        <h6 class="h8 bold">{{t "The Kluft Standard"}}&trade;</h6>
            <p>{{t "reimagined"}}&trade;{{t "anatural"}}</p>
            <p>{{t "patentedprocess"}}</p>
    </div>
    <div class="block block-link block-link-1">
        <a href="/retailers/" class="btn learn-more">{{t "Find a Retailer"}}</a>
    </div>

    <div class="block block-1 block-image"></div>
</div>