<div class="grid">
<section class="section intro">
    <div class="masthead masthead-1">
        <div class="text-box">
            <div class="text-wrap">
                <h4 class="h4 inverted">Kluft<br/> Signature</h4>
                <h6 class="h7 inverted">Classic luxury interwoven with modern sophistication.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-75"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">Superior<br/> Craftsmanship</h6>
            <p>Signed by the master himself, Earl S. Kluft’s singular construction techniques help the Signature Collection leave a lasting impression. The hand tufting secures the inner layers and enhances their performance and durability while flexible cross lacing widens the sleeping area and gives the mattress long life.</p>
        </div>
        <div class="block block-2 block-70 aspect-58"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">The<br/> Finest Materials</h6>
            <p>True to Earl S. Kluft’s roots, while exploring the latest innovations, the materials in the Kluft Signature collection represent the full spectrum of master inspiration. Inside you’ll find the naturally cooling properties of horsetail, over five pounds of cashmere to reduce pressure points and natural Talalay latex to give a fully responsive surface.</p>
        </div>
        <div class="block block-3 block-66 aspect-114"></div>
        <div class="block block-link block-link-1">
            <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro">
        <div class="masthead masthead-1">
            <div class="text-box">
                <div class="text-wrap">
                    <h4 class="h4 inverted">Kluft<br/> Signature</h4>
                    <h6 class="h7 inverted">Classic luxury interwoven with modern sophistication.</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-1"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">Superior<br/> Craftsmanship</h6>
        <p>Signed by the master himself, Earl S. Kluft’s singular construction techniques help the Signature Collection leave a lasting impression. The hand tufting secures the inner layers and enhances their performance and durability while flexible cross lacing widens the sleeping area and gives the mattress long life.</p>
    </div>
    <div class="block block-2"></div>

    <div class="block-text block-text-2">
        <h6 class="h8 bold">The<br/> Finest Materials</h6>
        <p>True to Earl S. Kluft’s roots, while exploring the latest innovations, the materials in the Kluft Signature collection represent the full spectrum of master inspiration. Inside you’ll find the naturally cooling properties of horsetail, over five pounds of cashmere to reduce pressure points and natural Talalay latex to give a fully responsive surface.</p>
    </div>
    <div class="block block-3"></div>
    <!-- <div class="block block-link block-link-1">
        <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
    </div> -->
</div>