<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h4 class="h4 inverted">{{t "Kluft"}}<br/> {{t "Signature"}}</h4>
                <h6 class="h7 inverted">{{t "interwoven"}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-100 aspect-75"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Superior"}}<br/> {{t "Craftsmanship"}}</h6>
            <p>{{t "oursingular"}}</p>
        </div>
        <div class="block block-2 block-70 aspect-58 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">{{t "The"}}<br/> {{t "Finest Materials"}}</h6>
            <p>{{t "trueto"}}</p>
        </div>
        <div class="block block-3 block-66 aspect-114 block-image"></div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro parallax-bg">
        <div class="masthead masthead-1 is-loading">
            <div class="text-box">
                <div class="text-wrap">
                    <h4 class="h4 inverted">{{t "Kluft"}}<br/> {{t "Signature"}}</h4>
                    <h6 class="h7 inverted">{{t "interwoven"}}</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-1 block-image"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">{{t "Superior"}}<br/> {{t "Craftsmanship"}}</h6>
            <p>{{t "oursingular"}}</p>
    </div>
    <div class="block block-2 block-image"></div>

    <div class="block-text block-text-2">
        <h6 class="h8 bold">{{t "The"}}<br/> {{t "Finest Materials"}}</h6>
            <p>{{t "trueto"}}</p>
    </div>
    <div class="block block-3 block-image"></div>
</div>