<section class="section intro">
    <div class="masthead masthead-4">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">The Kluft Standard&trade;</h2>
                <h6 class="h7">The patent by which we measure the perfect night’s sleep.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section grid">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-87"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-1">
            <h6 class="h8 bold">The Kluft Standard&trade;</h6>
            <p>Earl S. Kluft has reimagined the industry with The Kluft Standard™, a natural chamber of air between the springs and the mattress-top. When this chamber meets the adaptive layers of plush materials, the bed completely synchronizes with your body creating the most refined luxury sleep ever devised. Unmistakably the work of a master.</p>
            <p>This patented process and construction can only be found on the mattresses made by E.S. Kluft and Co.</p>
        </div>
        <div class="block block-link block-link-1">
            <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
        </div>
    </div>
</section>