<section class="intro">
    <div class="col-1-1 col-masthead col-full-bleed-bg">
        <div class="row">
            <h1>The Master Standard</h1>
            <p>Our masters bring sophistication and precision to every mattress. A tradition of excellence that’s reflected in the superior materials and handcraftsmanship that comes from a Kluft, the ultimate in sleep luxury.</p>
        </div>
    </div>
</section>

<section class="master-standard">
    <div class="col-1-2 col-left">
        <div class="block-figure">
            <figure>
                <img src="/img/pages/master-standard/standard-1.jpg" alt="">
            </figure>
        </div>
        <div class="block-figure partial">
            <figure class="partial-1-2">
                <img src="/img/pages/master-standard/standard-2.jpg" alt="">
            </figure>
            <figure class="partial-1-2">
                <img src="/img/pages/master-standard/standard-3.jpg" alt="">
            </figure>
        </div>
        <div class="block-text partial">
            <h5>Hand Craftsmenship</h5>
            <p>Crafting every mattress by hand ensures the highest attention is paid to every detail. This master level of precision and artistry influences everything we create.</p>
        </div>
        <div class="block-figure partial">
            <figure>
                <img src="/img/pages/master-standard/standard-4.jpg" alt="">
            </figure>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text">
            <h5>Luxury Comfort</h5>
            <p>Kluft mattresses set the universal standard for living life at its most luxurious. This high-class level of comfort is for those who demand the very best.</p>
        </div>
        <div class="block-figure">
            <figure class="partial-2-3">
                <img src="/img/pages/master-standard/standard-5.jpg" alt="">
            </figure>
        </div>
        <div class="block-figure">
            <figure>
                <img src="/img/pages/master-standard/standard-6.jpg" alt="">
            </figure>
        </div>
        <div class="block-text">
            <h5>Superior Materials</h5>
            <p>We set the highest standard for the materials that are chosen for our mattresses. Spanning the globe, we’ve found the finest natural and modern fabrics and fibers to ensure the ultimate in quality.</p>
        </div>
        <div class="block-text">
            <h5>Traditions of Excellence</h5>
            <p>Led by Earl S. Kluft, our team masters have dedicated their lives to the craft of mattress making. We’re forever evolving luxury to keep pace with changing ideals.</p>
        </div>
        <div class="block-text">
            <a href="/retailers/" class="btn learn-more">find a retailer</a>
        </div>
    </div>
</section>