<div class="grid">
<section class="section intro is-loading">
    <div class="masthead  masthead-short masthead-4 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2 inverted">The Method</h2>
                <h6 class="h7 inverted">There is a method to our mastery. It’s how we bring sophistication and precision to every mattress.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block block-1 block-86 block-image"></div>
        <div class="block-text block-text-1">
            <h6 class="h8 bold">Superior Materials</h6>
            <p>We set the highest standard for the materials that are selected. Spanning the globe, we’ve found the finest natural and modern fabrics and fibers to ensure the ultimate in quality.</p>
        </div>
        <div class="block block-2 block-66 aspect-114 block-image"></div>
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Tradition of Excellence</h6>
            <p>Led by Earl S. Kluft, our team masters have dedicated their lives to the craft of mattress making. We’re forever evolving luxury to keep pace with changing ideals.</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-3">
            <h6 class="h8 bold">Hand Craftsmanship</h6>
            <p>Crafting every mattress by hand ensures the highest attention is paid to every detail. This master level of precision and artistry influences everything we create.</p>
        </div>
        <div class="block block-3 block-70 aspect-1 block-image"></div>
        <div class="block-text block-text-4">
            <h6 class="h8 bold">Luxury Comfort</h6>
            <p>Kluft mattresses set the universal standard for living life at its most luxurious. This high-class level of comfort is for those who demand the very best.</p>
        </div>
        <div class="block block-4 block-100 aspect-58 block-image"></div>
        <div class="block-double">
            <div class="block block-5 block-40 aspect-1"></div>
            <div class="block block-6 block-40 aspect-1"></div>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
<section class="section intro is-loading">
    <div class="masthead masthead-4 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2 inverted">The Method</h2>
                <h6 class="h7 inverted">There is a method to our mastery. It’s how we bring sophistication and precision to every mattress.</h6>
            </div>
        </div>
    </div>
</section>


    <div class="block block-4 block-100 aspect-58"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">Superior Materials</h6>
        <p>We set the highest standard for the materials that are selected. Spanning the globe, we’ve found the finest natural and modern fabrics and fibers to ensure the ultimate in quality.</p>
    </div>
    <div class="block block-2 block-66 aspect-114"></div>
    <div class="block-text block-text-2">
        <h6 class="h8 bold">Tradition of Excellence</h6>
        <p>Led by Earl S. Kluft, our team masters have dedicated their lives to the craft of mattress making. We’re forever evolving luxury to keep pace with changing ideals.</p>
    </div>
    <div class="block block-1 block-86"></div>
    <div class="block block-3 block-70"></div>

    <div class="block-text block-text-3">
        <h6 class="h8 bold">Hand Craftsmanship</h6>
        <p>Crafting every mattress by hand ensures the highest attention is paid to every detail. This master level of precision and artistry influences everything we create.</p>
    </div>
    <div class="block block-5 block-100"></div>

    <div class="block-text block-text-4">
        <h6 class="h8 bold">Luxury Comfort</h6>
        <p>Kluft mattresses set the universal standard for living life at its most luxurious. This high-class level of comfort is for those who demand the very best.</p>
    </div>

    <div class="block block-6 block-40 aspect-1"></div>
</div>