<section class="intro">
    <div class="col-1-1 col-masthead col-full-bleed-bg">
        <!-- <figure>
            <img src="{{img-1}}" alt="">
        </figure> -->
        <div class="row">
            <h2 class="large">{{title}}</h2>
            <h2>{{subTitle}}</h2>
        </div>
    </div>
</section>

<section>
    <div class="col-1-2 col-left">
        <div class="block-figure">
            <figure>
            <img src="{{img-2}}" alt="">
        </figure>
        </div>
        <div class="block-figure">
            <figure class="partial-2-3">
                <img src="{{img-3}}" alt="">
            </figure>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text">
            <p>{{description}}</p>
        </div>
        <div class="block-figure">
            <figure>
                <img src="{{img-4}}" alt="">
            </figure>
        </div>

        <div class="block-text">
            <a href="/retailers/" class="btn learn-more">find a retailer</a>
        </div>
    </div>
</section>