<div class="col-1-1 headline">
    <div id="map"></div>
    <div class="block-text">
        <h1>Retailers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>

<div class="col-1-1">
    <form action="#" method="post" class="zipcode-form">
        <h4>Enter your zipcode to<br/> find a retailer near you</h4>
        <input class="btn zipcode" id="zipcode" class="zipcode" type="text" value = "" pattern="[0-9]*">
        <input class="btn search" type="submit" value="Search">
    </form>
</div>

<div class="col-1-1 retail-locations">


    <ul class="location-list">
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
        <li>
            <h4>Store Name</h4>
            <address>
                1111 Hollywood Way</br>
                Los Angeles, CA 93063</br>
                555-555-5555</br>
                <span class="distance">2.99 miles</span>
                <span class="directions">directions</span>
            </address>
        </li>
    </ul>

</div>