<section class="section intro">
    <div class="masthead masthead-5">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2">Retailers</h2>
            </div>
        </div>
        <div id="map"></div>
    </div>
</section>

<section class="section">
    <div class="headline">
        <form action="#" method="post" class="zipcode-form">
            <h6 class="h10">Enter your zip code to<br/> find a retailer near you</h6>
            <input class="btn zipcode" id="zipcode" class="zipcode" type="text" value = "" pattern="[0-9]*">
            <input class="btn search" type="submit" value="Search">
        </form>
    </div>
</section>

<div class="col-1-1 retail-locations">


    <ul class="location-list">
        <li data-text="A">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="B">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="C">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="D">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="E">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="F">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
        <li data-text="G">
            <h6 class="h9">Sit N Sleep</h6>
            <address>
                929 N. La Brea Ave</br>
                Los Angeles, CA 90046</br>
                877-292-6505</br>
                <span class="distance">2.59 miles</span>
                <a href="" class="directions">Directions</a>
            </address>
        </li>
    </ul>

</div>