<div class="grid">
<section class="section intro">
    <div class="masthead masthead-1">
        <div class="text-box light">
            <div class="text-wrap">
                <h4 class="h4">Royal<br/> Sovereign<br/> Latex</h4>
                <h6 class="h7">Our bestselling collection, handcrafted with man-made and natural materials. Sold exclusively at Bloomingdales.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid">
    <div class="col-1-2 col-left">

        <div class="block-text block-text-1">
            <h6 class="h8 bold">Renowned<br/> Comfort</h6>
            <p>Earl S. Kluft crafted the Royal Sovereign Latex collection to excel in adaptive comfort. The surface conforms to your body with a special 4-way heavyweight knit that is unmatched in the industry. Beneath the surface, you’ll find individually wrapped coils and 8-way hand-tied foundations that respond to every sleep position for luxurious support.</p>
        </div>
        <div class="block block-1 block-70 aspect-114 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block block-2 block-100 aspect-75 block-image"></div>
        <div class="block-text block-text-2">
            <h6 class="h8 bold">The Royal<br/> Treatment</h6>
            <p>Inside every Royal Soveign Latex, there are layers of natural Talalay latex, the finest natural support system. Its open-cell structure allows for excellent airflow and responsive support that minimizes pressure points.  Then we add tiers of luxurious upholstery and Visco elastic memory foam to assist the latex for a healthier sleep that lasts the lifetime of the mattress.</p>
        </div>
        <!-- <div class="block block-link block-link-1">
            <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
        </div> -->
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro">
        <div class="masthead masthead-1">
            <div class="text-box light">
                <div class="text-wrap">
                    <h4 class="h4">Royal<br/> Sovereign<br/> Latex</h4>
                    <h6 class="h7">Our bestselling collection, handcrafted with man-made and natural materials. Sold exclusively at Bloomingdales.</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-2 block-image"></div>
    <div class="block-text">
        <h6 class="h8 bold">Renowned<br/> Comfort</h6>
        <p>Earl S. Kluft crafted the Royal Sovereign Latex collection to excel in adaptive comfort. The surface conforms to your body with a special 4-way heavyweight knit that is unmatched in the industry. Beneath the surface, you’ll find individually wrapped coils and 8-way hand-tied foundations that respond to every sleep position for luxurious support.</p>
    </div>

    <div class="block block-1 block-image"></div>
    <div class="block-text">
        <h6 class="h8 bold">The Royal<br/> Treatment</h6>
        <p>Inside every Royal Soveign Latex, there are layers of natural Talalay latex, the finest natural support system. Its open-cell structure allows for excellent airflow and responsive support that minimizes pressure points.  Then we add tiers of luxurious upholstery and Visco elastic memory foam to assist the latex for a healthier sleep that lasts the lifetime of the mattress.</p>
    </div>
<!--     <div class="block block-link block-link-1">
        <a href="/retailers/" class="btn learn-more">Find a Retailer</a>
    </div> -->
</div>