<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1 parallax-bg">
        <div class="text-box light">
            <div class="text-wrap">
                <h4 class="h4">Royal<br/> Sovereign</h4>
                <h6 class="h7">Handcrafted with natural materials for refined comfort. Sold exclusively at Bloomingdale's.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">

        <div class="block-text block-text-1">
            <h6 class="h8 bold">Sophisticated<br/> Layers of Comfort</h6>
            <p>The Royal Sovereign collection is made with a focus on natural materials that have defined international luxury for decades. Enjoy a sleeping surface of rich Belgian damasks quilted with high performance foams for maximum comfort and pressure relief. Inside you'll find layers of ventilated Talalay latex, quilted cotton and visco elastic memory foam.</p>
        </div>
        <div class="block block-1 block-70 aspect-114 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block block-2 block-100 aspect-75 block-image"></div>
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Constructed<br/> for Royalty</h6>
            <p>The Royal Sovereign collection is built on top of an 8-way hand-tied foundation on sustainable forest lumber. This level of master precision supports the entirety of the mattress, allowing for an even, exact construction that remains durable and beautiful. Then, we add individually wrapped coils to provide a reactive system that enhances every night’s sleep to perfection.</p>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-1 parallax-bg">
            <div class="text-box light">
                <div class="text-wrap">
                    <h4 class="h4">Royal<br/> Sovereign</h4>
                    <h6 class="h7">Handcrafted with natural materials for refined comfort. Sold exclusively at Bloomingdales.</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-2 block-image"></div>
    <div class="block-text block-text-1">
        <h6 class="h8 bold">Sophisticated<br/> Layers of Comfort</h6>
        <p>The Royal Sovereign collection is made with a focus on natural materials that have defined international luxury for decades. Inside you’ll find layers of imported horsetail, cashmere, quilted cotton, Visco elastic memory foam and Joma wool. Enjoy a sleeping surface of rich Belgian damasks quilted with high performance foams for maximum comfort and pressure relief.</p>
    </div>

    <div class="block block-1 block-image"></div>

    <div class="block-text block-text-2">
        <h6 class="h8 bold">Constructed<br/> for Royalty</h6>
        <p>The Royal Sovereign collection is built on top of an 8-way hand-tied foundation on sustainable forest lumber. This level of master precision supports the entirety of the mattress, allowing for an even, exact construction that remains durable and beautiful. Then, we add individually wrapped coils to provide a reactive system that enhances every night’s sleep to perfection.</p>
    </div>
</div>