<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-1 parallax-bg">
        <div class="text-box light">
            <div class="text-wrap">
                <h4 class="h4">{{t "Royal"}}<br/> {{t "Sovereign"}}<br/> {{t "Latex"}}</h4>
                <h6 class="h7">{{t "ourbest"}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">

        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Renowned"}}<br/> {{t "Comfort"}}</h6>
            <p>{{t "quiltflex"}}&trade;{{t "combinedwith"}}</p>
        </div>
        <div class="block block-1 block-70 aspect-114 block-image"></div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block block-2 block-100 aspect-75 block-image"></div>
        <div class="block-text block-text-2">
            <h6 class="h8 bold">{{t "The Royal"}}<br/> {{t "Treatment"}}</h6>
            <p>{{t "insideevery"}}</p>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-1 parallax-bg">
            <div class="text-box light">
                <div class="text-wrap">
                    <h4 class="h4">{{t "Royal"}}<br/> {{t "Sovereign"}}<br/> {{t "Latex"}}</h4>
                    <h6 class="h7">{{t "ourbest"}}</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block block-2 block-image"></div>
    <div class="block-text">
        <h6 class="h8 bold">{{t "Renowned"}}<br/> {{t "Comfort"}}</h6>
            <p>{{t "quiltflex"}}&trade;{{t "combinedwith"}}</p>
    </div>

    <div class="block block-1 block-image"></div>
    <div class="block-text">
        <h6 class="h8 bold">{{t "The Royal"}}<br/> {{t "Treatment"}}</h6>
        <p>{{t "insideevery"}}</p>
    </div>
</div>