<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-4 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2 inverted">{{t "The Tradition"}}</h2>
                <h6 class="h7 inverted">{{t "amattress"}}</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Kluft Heritage"}}</h6>
            <p>{{t "sinceourbeg"}}</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">{{t "Kluft Today"}}</h6>
            <p>{{t "perfectionis"}}</p>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-4 parallax-bg">
            <div class="text-box">
                <div class="text-wrap">
                    <h2 class="h2 inverted">{{t "The Tradition"}}</h2>
                <h6 class="h7 inverted">{{t "A mattress maker dedicated to"}}<br/> {{t "evolving"}}</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block-text block-text-1">
            <h6 class="h8 bold">{{t "Kluft Heritage"}}</h6>
            <p>{{t "sinceourbeg"}}</p>
    </div>

    <div class="block-text block-text-2">
        <h6 class="h8 bold">{{t "Kluft Today"}}</h6>
        <p>{{t "perfectionis"}}</p>
    </div>

</div>