<div class="grid">
<section class="section intro is-loading">
    <div class="masthead masthead-4 parallax-bg">
        <div class="text-box">
            <div class="text-wrap">
                <h2 class="h2 inverted">The Tradition</h2>
                <h6 class="h7 inverted">A mattress maker dedicated to evolving the luxury sleep experience.</h6>
            </div>
        </div>
    </div>
</section>

<section class="section  has-max sub-grid is-loading">
    <div class="col-1-2 col-left">
        <div class="block-text block-text-1">
            <h6 class="h8 bold">Kluft Heritage</h6>
            <p>Since our beginning, we have mastered the luxury mattress. As world-class master craftsmen, we have built on this heritage with our opulent, signature creations. Kluft mattresses have always defined world-class comfort. And Kluft craftsmanship now sets the universal standard for sophistication and refinement.</p>
        </div>
    </div>

    <div class="col-1-2 col-right">
        <div class="block-text block-text-2">
            <h6 class="h8 bold">Kluft Today</h6>
            <p>Perfection is a journey, not a destination. We push the boundaries of craftsmanship and technology, fusing all-natural materials with a passion for design innovation. Our latest endeavor is the culmination of decades of hard work, knowledge and experience that could only be called by one name, Kluft.</p>
        </div>
    </div>
</section>
</div>

<div class="mobile-grid">
    <section class="section intro is-loading">
        <div class="masthead masthead-4 parallax-bg">
            <div class="text-box">
                <div class="text-wrap">
                    <h2 class="h2 inverted">The Tradition</h2>
                <h6 class="h7 inverted">A mattress maker dedicated to<br/> evolving the luxury sleep experience.</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="block-text block-text-1">
            <h6 class="h8 bold">Kluft Heritage</h6>
            <p>Since our beginning, we have mastered the luxury mattress. As world-class master craftsmen, we have built on this heritage with our opulent, signature creations. Kluft mattresses have always defined world-class comfort. And Kluft craftsmanship now sets the universal standard for sophistication and refinement.</p>
    </div>

    <div class="block-text block-text-2">
        <h6 class="h8 bold">Kluft Today</h6>
        <p>Perfection is a journey, not a destination. We push the boundaries of craftsmanship and technology, fusing all-natural materials with a passion for design innovation. Our latest endeavor is the culmination of decades of hard work, knowledge and experience that could only be called by one name, Kluft.</p>
    </div>

</div>