.lang-zh {
    .beyond-luxury.page .masthead .text-box h4 {
        br {
            display: none;
        }
    }
    .beyond-luxury.page .h8 {
        br {
            display: none;
        }
    }
    .kluft-signature.page .h8 {
        br {
            display: none;
        }
    }
    .royal-sovereign.page .h8 {
        br {
            display: none;
        }
    }
    .royal-sovereign-latex.page .h8 {
        br {
            display: none;
        }
    }
}