//
// Layout
// ---------------------------

.app {
    min-height: 100%;
    position: relative;
    top: 0;
    width: 100%;
}

#region-content {
    //height of footer
    // padding-bottom: 100px;
    // //height of header
    // padding-top: 100px;
}

.page {
    // position: relative;
    // @include clearfix();
    // overflow: auto;
    @include transition(opacity 0.1s $easeInOut);
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .views-transitioning & {
        // overflow: hidden;
        @include transition(
            opacity 0.3s $easeInOut,
            visibility 0.3s $easeInOut
        );
    }

    &.before-transition {
        visibility: hidden;
        opacity: 0;
    }
    &.transitioning-in {
        visibility: visible;
        opacity: 1;
    }
    &.transitioning-out {
        opacity: 0;
    }
}
