//
// Typography
// ---------------------------

a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $sans;
    font-family: $headingsFontFamily;
    line-height: 1.2;
    margin: 0;
}

h1, .h1 {
    font-size: 4.4em;
}

h2, .h2 {
    font-size: 3.8em;
}

h3, .h3 {
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
}

h4, .h5 {
    font-size: 2em;
}

h5, .h5 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: $black;
}

p, .p {
    font-size: 1.6em;
    font-family: $sans;
    line-height: 1.4;
}

li {
    font-family: $sans;
}
