//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    font-family: $MrsEavesBold;
    color: $gold;
    text-transform: uppercase;
    &.inverted {
        color: $white;
    }
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &.active,
    &:active {}
    &.disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.4;
        pointer-events: none;
    }

    &.learn-more {
        position: relative;
        padding: 1em 5em 1em 3em;
        letter-spacing: 5px;
        border: 1px solid $black;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15%;
            width: 1em;
            height: 1.8em;
            background-image: url(../img/global/triangle-gold.png);
            background-repeat: no-repeat;
            background-position: center;
            @include transition(transform 0.3s $easeInOutQuad);
            @include translate3d(0, -50%, 0);
        }

        &:hover {
            &:after {
                @include translate3d(50%, -50%, 0);
            }
        }
    }

    &.scroll {
        @extend .h5;
        margin: 0;
        font-family: $sans;
        color: $white;
    }

    &.search {
        position: relative;
        padding: 1em 2em;
        letter-spacing: 5px;
        border: 1px solid $black;
    }

    &.zipcode {
        position: relative;
        padding: 1em 2em;
        letter-spacing: 2px;
        border: 1px solid $black;
        color: $black;
        margin-right: 1em;
    }

}