//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    font-family: $MrsEavesBold;
    color: $black;
    text-transform: uppercase;
    position: relative;
    padding: 1.5em 3.2em 1.5em 1.9em;
    letter-spacing: 5px;
    border: 2px solid #000000;
    -webkit-font-smoothing: antialiased;

    &.inverted {
        color: $white;
    }
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &.active,
    &:active {}
    &.disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.4;
        pointer-events: none;
    }

    &.learn-more, &.see-collections {
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 7%;
            width: 1em;
            height: 1.8em;
            background-image: url(../img/arrow-right.png);
            background-repeat: no-repeat;
            background-position: center;
            @include transition(transform 0.3s $easeInOutQuad);
            @include translate3d(0, -50%, 0);
        }

        &.inverted {
            &:after {
                background-image: url(../img/arrow-right-white.png);
            }
        }

        &:hover {
            &:after {
                @include translate3d(20%, -50%, 0);
            }
        }
    }

    &.search {
        position: relative;
        padding: 1.3em 2em;
        letter-spacing: 5px;
        border: 2px solid $black;
    }

    &.zipcode {
        position: relative;
        padding: 1.3em 7em 1.3em 2em;
        letter-spacing: 2px;
        border: 1px solid #b7b7b7;
        color: $black;
        margin-right: 1em;
        font-family: $MrsEavesRoman;
    }

}