.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $blueDark;
    font-size: 7px;
    @include transition(top 0.3s $easeInOut);

    @media (min-width: 480px) {
        font-size: 8px;
    }

    // 600px
    @media (min-width: 600px) {
        font-size: 9px;
    }

    // 768px
    @media (min-width: 768px) {
        font-size: 10px;
    }

    nav {
        padding: 4em 0 5em 0;
    }

    .footer-links li {
        display: block;
        padding: 1em 2em;

        @media (min-width: 768px) {
            display: inline-block;
            padding: 1.8em 1.0em 1.3em 1.0em;
        }

        @media (min-width: 960px) {
            padding: 1.8em 2.5em 1.3em 2.5em;
        }
    }

    .h10 {
        padding-bottom: 55px;
        letter-spacing: 0.2em;
        color: #434e55;
    }

    a, .to-top {
        @extend .h10;
        padding: 0;
        font-size: 1.1em;
        letter-spacing: 0.2em;
        color: $white;
        @include transition(color 0.3s $easeInOut);

        &:hover {
            color: #D2D3D7;
        }
    }

    .back-to-top {
        text-align: center;
        position: relative;
        cursor: pointer;

        .to-top {
            padding-top: 22px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 50%;
            width: 72px;
            height: 36px;
            background-image: url(../img/back-to-top.png);
            background-repeat: no-repeat;
            @include translate3d(-50%, -100%, 0);
        }
    }
    .language-select {
        position: relative;
        padding-bottom: 5em;
        h3  {
            font-family: $MrsEavesRoman;
            font-size: 11px;
            letter-spacing: 0.2rem;
            color: #909090;
            text-transform: uppercase;
            display: inline-block;
            &.select {
                color: #fff;
                cursor: pointer;
                &:hover, &.active {
                    .options {
                        max-height: 400px;
                    }
                    &:after {
                        @include rotate(-90deg);
                    }
                }
                &:after {
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    width: 0; 
                    height: 0; 
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid #909090;
                    @include transition(transform 0.3s $easeDefault);
                }
            }
        }
        .lang-select {
            position: relative;
            margin-right: 30px;
            &:after {
                content: '';
                display: inline-block;
                position: relative;
                left: 15px;
                top: 2px;
                width: 1px;
                height: 11px;
                background-color: #909090;
            }
        }
        .options {
            position: absolute;
            top: -80px;
            margin-left: -16px;
            max-height: 0px;
            background-color: #02111b;
            overflow: hidden;
            @include transition(all 0.3s $easeDefault);
            li {
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                &:first-child {
                    padding-top: 10px;
                }
                &:last-child {
                    padding-bottom: 10px;
                }
            }
        }
        .option {
            text-align: center;
            color: $white;
        }
        @media (min-width: 768px) {
            padding-bottom: 0em;
            float: right;
            top: -35px;
            right: 15px;
        }
        @media (min-width: 960px) {
            right: 45px;
        }
    }
}