.grid {
    display: none;
}

.mobile-grid {

    .block-text {
        font-size: 12px;

        p {
            font-size: 1.3em;
        }
    }

}

.headline {
    padding: 9em 0 5em 0;
    text-align: center;

    h3 {
        letter-spacing: 0.4em;
    }

    h6 {
        margin-top: 0.8em;
        font-size: 1.9em;
        line-height: 1.8;
        font-family: "Mrs Eaves Lining OT";
        color: $black;
        text-transform: none;
        letter-spacing: 0.1em;
    }
}