.block-text {
    width: 65%;
}

.block {
    @extend %background-cover;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        .overlay {
            opacity: 1;
        }
    }

    .overlay-link {
        @extend %spread;
    }

    .overlay {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: rgba(21, 21, 21, 0.5);
        opacity: 0;
        @include transition(all 0.3s $easeInOut);

        h4 {
            font-family: $MrsEavesBold;
            font-size: 1.6em;
            color: $white;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            line-height: 1.5;
            @extend %absolute-center;
        }

    }
}

.block-image {
    opacity: 0;
    @include translate3d(0, 10px, 0);
    @include transition(all 0.5s $easeInOut 0.3s);

    &.in-view {
        @include translate3d(0, 0, 0);
        opacity: 1;
    }
}

.block-double {
    margin-top: 1.5em;
    .block {
        display: inline-block;
        float: left;
        margin-right: 1.5em;
    }
}

.block-40 {
    width: 40%;
}

.block-60 {
    width: 60%;
}

.block-66 {
    width: 66.66%;
}

.block-70 {
    width: 70%;
}

.block-86 {
    width: 86%;
    margin-left: 14%;
    padding-bottom: 92%;
}

.block-87 {
    width: 87%;
    margin-left: 13%;
    padding-bottom: 123.5%;
}

.block-100 {
    width: 100%;
}

.aspect-1 {
    &.block-40 {
        padding-bottom: 40%;
    }
    &.block-60 {
        padding-bottom: 60%;
    }
    &.block-66 {
        padding-bottom: 66.66%;
    }
    &.block-70 {
        padding-bottom: 70%;
    }
}

.aspect-58 {    //12:7 ratio
    &.block-66 {
        padding-bottom: 39%;
    }
    &.block-70 {
        padding-bottom: 58%;
    }
    &.block-100 {
        padding-bottom: 58%;
    }
}

.aspect-63 {
    &.block-66 {
        // padding-bottom: 50%;
    }
    &.block-100 {
        padding-bottom: 63%;
    }
}

.aspect-75 {    //4:3 ratio
    &.block-66 {
        padding-bottom: 50%;
    }
    &.block-100 {
        padding-bottom: 75%;
    }
}

.aspect-87 {    //15:13 ratio
    &.block-66 {
        padding-bottom: 58%;
    }
    &.block-100 {
        padding-bottom: 87%;
    }
}

.aspect-92 {
    &.block-66 {
        // padding-bottom: 58%;
    }
    &.block-100 {
        padding-bottom: 92%;
    }
}

.aspect-114 {   //80:91 ratio
    &.block-66 {
        padding-bottom: 76%;
    }
    &.block-70 {
        padding-bottom: 88%;
    }
    &.block-100 {
        padding-bottom: 114%;
    }
}