.block-text {
    width: 65%;
}

.block {
    @extend %background-cover;
}

.block-double {
    margin-top: 1.5em;
    .block {
        display: inline-block;
        float: left;
        margin-right: 1.5em;
    }
}

.block-40 {
    width: 40%;
}

.block-66 {
    width: 66.66%;
}

.block-70 {
    width: 70%;
}

.block-86 {
    width: 86%;
    margin-left: 14%;
    padding-bottom: 92%;
}

.block-100 {
    width: 100%;
}

.aspect-1 {
    &.block-40 {
        padding-bottom: 40%;
    }
    &.block-66 {
        padding-bottom: 66.66%;
    }
    &.block-70 {
        padding-bottom: 70%;
    }
}

.aspect-58 {    //12:7 ratio
    &.block-66 {
        padding-bottom: 39%;
    }
    &.block-100 {
        padding-bottom: 58%;
    }
}

.aspect-63 {
    &.block-66 {
        // padding-bottom: 50%;
    }
    &.block-100 {
        padding-bottom: 63%;
    }
}

.aspect-75 {    //4:3 ratio
    &.block-66 {
        padding-bottom: 50%;
    }
    &.block-100 {
        padding-bottom: 75%;
    }
}

.aspect-87 {    //15:13 ratio
    &.block-66 {
        padding-bottom: 58%;
    }
    &.block-100 {
        padding-bottom: 87%;
    }
}

.aspect-92 {
    &.block-66 {
        // padding-bottom: 58%;
    }
    &.block-100 {
        padding-bottom: 92%;
    }
}

.aspect-114 {   //80:91 ratio
    &.block-66 {
        padding-bottom: 76%;
    }
    &.block-70 {
        padding-bottom: 88%;
    }
    &.block-100 {
        padding-bottom: 114%;
    }
}