//
// Preloader
// ----------------------------

.preloader {
    @extend %spread;
    position: fixed;
    background-color: $white;

    .logo-wrap {
        @extend %absolute-center;
        width: 80%;
        max-width: 300px;
    }
}
