.retail-locations {
    opacity: 0;
    visibility:hidden;
    overflow-x: hidden;
    @include transition(all 0.3s $easeInOut);

    .showing-results & {
        opacity: 1;
        visibility: visible;
    }

    li {
        position: relative;
        padding: 2em 0 4em;

        &:before {
            @extend .h9;
            position: absolute;
            display: block;
            top: 1.6em;
            left: -5.7em;
            padding: 0.9em 1.1em;
            content: attr(data-text);
            background-color: $black;
            color: $white;
        }

        &:nth-child(1) {
            &:before {
                content: 'A'
            }
        }
        &:nth-child(2) {
            &:before {
                content: 'B'
            }
        }
        &:nth-child(3) {
            &:before {
                content: 'C'
            }
        }
        &:nth-child(4) {
            &:before {
                content: 'D'
            }
        }
        &:nth-child(5) {
            &:before {
                content: 'E'
            }
        }
        &:nth-child(6) {
            &:before {
                content: 'F'
            }
        }
    }

    span {
        display: block;
    }

    .h9 {
        font-family: $MrsEavesBold;
        letter-spacing: 0.1em;
    }

    .distance {
        text-transform: none;
    }

    .directions {
        text-decoration: underline;
        color: $blueDark;
        text-transform: none;
    }

    .location-list {
        padding: 8em 0 15em;
        width: 80%;
        margin: 0 auto;
    }
}

